body {
    overflow-x: hidden;
    background-color: #ffecd2; 
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
}

#myCat {
    position: absolute;
    bottom: 20px;
    transition: transform 0.5s;
}

@keyframes moveBackground {
    from { background-position: 0 0; }
    to { background-position: -1000px 0; }
}

body {
    animation: moveBackground 10s linear infinite;
}